name: Static Musl Utilities Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt update
        apt install -y \
          musl musl-tools musl-dev \
          build-essential pkg-config \
          autoconf automake libtool \
          gettext bison flex \
          libz-dev zlib1g-dev \
          liblzma-dev libgcrypt-dev libgpg-error-dev \
          libblkid-dev libudev-dev udev \
          git wget curl xz-utils zstd libzstd-dev liblzo2-dev \
          libncurses5-dev libncursesw5-dev sudo libext2fs-dev \
          systemd-dev autopoint
          
          
    - name: Prepare workspace
      run: mkdir -p build static-bin

    ###########################################
    # DIALOG
    ###########################################
    - name: Build ncurses static-only (minimal)
      run: |
          wget https://invisible-island.net/datafiles/release/ncurses.tar.gz
          tar xf ncurses.tar.gz
          cd ncurses-*
          ./configure \
            --without-debug \
            --without-manpages \
            --without-tests \
            --disable-widec \
            --enable-static \
            --without-cxx-binding \
            --disable-shared
          make -j$(nproc)
          sudo make install
    
    - name: Build dialog (static)
      run: |
        wget https://invisible-island.net/datafiles/release/dialog.tar.gz
          tar xf dialog.tar.gz
          cd dialog-*
          ./configure \
            --enable-static \
            --disable-shared \
            CFLAGS="-Os -fdata-sections -ffunction-sections" \
            LDFLAGS="-static -s" \
            LIBS="-lncurses"
          make -j$(nproc)

          mkdir -p output
          cp dialog output/dialog_glibc_static
          strip --strip-unneeded output/dialog_glibc_static || true

    ###########################################
    # BTRFS-PROGS
    ###########################################
    - name: Build btrfs-progs (static)
      run: |
        cd build
        git clone https://github.com/kdave/btrfs-progs.git
        cd btrfs-progs
        ./autogen.sh
        ./configure --disable-shared --disable-documentation LDFLAGS="-static" --disable-libudev
        make -j$(nproc)
        cp btrfs ../../static-bin/
        strip ../../static-bin/btrfs || true

    ###########################################
    # CRYPTSETUP (LUKS1)
    ###########################################
    - name: Build cryptsetup (static)
      run: |
        cd build
        git clone https://gitlab.com/cryptsetup/cryptsetup.git
        cd cryptsetup
        ./autogen.sh
        ./configure --enable-static --disable-shared LDFLAGS="-static" --with-crypto_backend=kernel \
        --disable-asciidoc --disable-ssh-token
        make -j$(nproc)
        cp src/cryptsetup ../../static-bin/
        strip ../../static-bin/cryptsetup || true

    ###########################################
    # ADVCP (advcpmv patched cp/mv)
    ###########################################
    - name: Build advcp
      run: |
        cd build
        git clone https://github.com/jarun/advcpmv.git
        cd advcpmv
        make static
        cp advcp advmv ../../static-bin/ || true
        strip ../../static-bin/adv*

    ###########################################
    # EXT2/EXT4 PROGS (e2fsprogs)
    ###########################################
    - name: Build e2fsprogs (resize2fs, find, etc.)
      run: |
        cd build
        git clone https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
        cd e2fsprogs
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        cp resize/resize2fs ../../static-bin/
        cp misc/findsuper ../../static-bin/find || true
        strip ../../static-bin/* || true

    ###########################################
    # GREP
    ###########################################
    - name: Build grep (static)
      run: |
        cd build
        wget https://ftp.gnu.org/gnu/grep/grep-3.11.tar.xz
        tar xf grep-*.tar.xz
        cd grep-*
        ./configure LDFLAGS="-static" --enable-static --disable-shared
        make -j$(nproc)
        cp src/grep ../../static-bin/
        strip ../../static-bin/grep

    ###########################################
    # NANO
    ###########################################
    - name: Build nano (static)
      run: |
        cd build
        wget https://www.nano-editor.org/dist/v7/nano-7.2.tar.xz
        tar xf nano-*.tar.xz
        cd nano-*
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        cp src/nano ../../static-bin/
        strip ../../static-bin/nano

    ###########################################
    # VERCMP (Woof-CE)
    ###########################################
    - name: Build vercmp (static)
      run: |
        cd build
        git clone https://github.com/puppylinux-woof-CE/woof-CE.git
        cd woof-CE/woof-code
        cc -static vercmp.c -o vercmp
        cp vercmp ../../../static-bin/
        strip ../../../static-bin/vercmp || true

    ###########################################
    # NTFS PROGS (static ntfs-3g tools)
    ###########################################
    - name: Build ntfsprogs (static)
      run: |
        cd build
        git clone https://github.com/tuxera/ntfs-3g.git
        cd ntfs-3g
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        cp ntfsprogs/ntfs* ../../static-bin/ || true
        strip ../../static-bin/ntfsfix || true

    ###########################################
    # CREATE ARTIFACT TAR
    ###########################################
    - name: Create tarball
      run: |
        cd static-bin
        tar -cvf ../static-musl-tools.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: static-musl-tools
        path: static-musl-tools.tar
