name: Static Utilities Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt update
        apt install -y \
          musl musl-tools musl-dev libgcc-s1 libgcc-15-dev \
          build-essential pkg-config \
          autoconf automake libtool \
          gettext bison flex \
          libz-dev zlib1g-dev \
          liblzma-dev libgcrypt-dev libgpg-error-dev \
          libblkid-dev libudev-dev udev \
          git wget curl xz-utils zstd libzstd-dev liblzo2-dev \
          libncurses5-dev libncursesw5-dev sudo libext2fs-dev \
          systemd-dev autopoint libdevmapper-dev libpopt-dev \
          libsepol-dev libjson-c-dev liblvm2-dev bzip2 perl \
          linux-libc-dev libncurses-dev \
          uuid-dev libselinux-dev libgcrypt20-dev libaio-dev

    - name: Setup Musl Header Links
      run: |
          # Bridges the Musl and Linux Kernel header gap
          sudo ln -s /usr/include/x86_64-linux-gnu/asm /usr/include/x86_64-linux-musl/asm
          sudo ln -s /usr/include/linux /usr/include/x86_64-linux-musl/linux
          sudo ln -s /usr/include/asm-generic /usr/include/x86_64-linux-musl/asm-generic         
          
    - name: Prepare workspace
      run: mkdir -p build static-bin

    ###########################################
    # DIALOG
    ###########################################
    - name: Build ncurses static-only (minimal)
      run: |
          wget https://invisible-island.net/datafiles/release/ncurses.tar.gz
          tar xf ncurses.tar.gz
          cd ncurses-*
           CC=musl-gcc ./configure \
            --without-debug \
            --without-manpages \
            --without-tests \
            --enable-widec \
            --enable-static \
            --with-termlib \
            --without-cxx-binding \
            --prefix=/usr/local/musl \
            --disable-shared
            
          make -j$(nproc)
          sudo make install
    
    - name: Build dialog (static)
      run: |
        cd build 

            DIALOG_VERSION=1.3-20251223
            
            wget https://invisible-mirror.net/archives/dialog/dialog-$DIALOG_VERSION.tgz
            tar xf dialog-$DIALOG_VERSION.tgz
            cd dialog-$DIALOG_VERSION

            export CFLAGS="-Os -static -DHAVE_COLOR=1 -DHAVE_SETLOCALE"
            export LDFLAGS="-static -L/usr/local/musl/lib"
            export LD_LIBRARY_PATH=/usr/local/musl/lib:$LD_LIBRARY_PATH
            export C_INCLUDE_PATH=/usr/local/musl/include:$C_INCLUDE_PATH
            export CPPFLAGS="-I/usr/local/musl/include/ncursesw -I/usr/local/musl/include/ncurses"

            #export LIBS="-L/usr/local/musl/lib -lncursesw"
            
            CC=musl-gcc ./configure \
            --build=x86_64-linux-musl \
            --prefix=/usr/local/musl \
            --with-ncursesw \
            --disable-nls \
            --disable-rpath 
            
            #CC=musl-gcc ./configure \
            #--enable-static \
            #--disable-shared \
            #CFLAGS="-Os -fdata-sections -ffunction-sections -fno-unwind-tables" \
            #LDFLAGS="-static -s -Wl,--gc-sections -Wl,--as-needed" \
            #LIBS="-lncurses"
            
          make -j$(nproc)
          strip ./dialog
          cp dialog ../../static-bin/

    ###########################################
    # BTRFS-PROGS
    ###########################################
    - name: Build btrfs-progs (static)
      run: |
        cd build
        git clone https://github.com/kdave/btrfs-progs.git
        cd btrfs-progs
        ./autogen.sh
         CC=musl-gcc ./configure --disable-shared --disable-documentation --disable-libudev
        CFLAGS="-Os -ffunction-sections -fdata-sections -fno-unwind-tables" \
        LDFLAGS="-static -s -Wl,--gc-sections -Wl,--as-needed"        
        make -j$(nproc)
        cp btrfs ../../static-bin/
        strip ../../static-bin/btrfs || true

    ###########################################
    # EXT2/EXT4 PROGS (e2fsprogs)
    ###########################################
    - name: Build e2fsprogs (resize2fs, find, etc.)
      run: |
        cd build
        git clone https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs
        cd e2fsprogs
        CC=musl-gcc \
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        strip resize/resize2fs e2fsck/e2fsck
        cp resize/resize2fs ../../static-bin/
        cp e2fsck/e2fsck ../../static-bin/

    ###########################################
    # GREP
    ###########################################
    - name: Build grep (static)
      run: |
        cd build
        wget https://ftp.gnu.org/gnu/grep/grep-3.11.tar.xz
        tar xf grep-*.tar.xz
        cd grep-*
        CC=musl-gcc \
        ./configure LDFLAGS="-static" --enable-static --disable-shared
        make -j$(nproc)
        cp src/grep ../../static-bin/
        strip ../../static-bin/grep

    ###########################################
    # NANO
    ###########################################
    - name: Build nano (static)
      run: |
        cd build
        wget https://www.nano-editor.org/dist/v7/nano-7.2.tar.xz
        tar xf nano-*.tar.xz
        cd nano-*
        ./configure --enable-static --disable-shared --enable-tiny \
        CFLAGS="-Os -static -ffunction-sections -fdata-sections" \
        LDFLAGS="-static -Wl,--gc-sections -Wl,--as-needed"
        
        sed -i 's|.*HAVE_USE_DEFAULT_COLORS.*|#define HAVE_USE_DEFAULT_COLORS 1|' config.h
        sed -i 's|.*GNU_WORDBOUNDS.*|#define GNU_WORDBOUNDS 1|' config.h
        
        make -j$(nproc)
        cp src/nano ../../static-bin/
        strip ../../static-bin/nano

    ###########################################
    # VERCMP (Woof-CE)
    ###########################################
    - name: Build vercmp (static)
      run: |
        cd build
        wget https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/refs/heads/master/pkg/w_apps_static/w_apps/vercmp.c
        musl-gcc -static -Os vercmp.c -o vercmp
        strip vercmp
        cp vercmp ../static-bin/

    - name: Build dosfstools
      run: |
          cd build
          
          # Fetch latest version (4.2 is the current stable)
          VERSION="4.2"
          wget https://github.com/dosfstools/dosfstools/releases/download/v${VERSION}/dosfstools-${VERSION}.tar.gz
          tar -xf dosfstools-${VERSION}.tar.gz
          cd dosfstools-${VERSION}

          # Configure for static Musl build
          # --without-udev: Removes dependency on libudev
          # --enable-compat-symlinks: Creates the classic 'mkdosfs' etc symlinks
          ./configure \
            CC=musl-gcc \
            --host=x86_64-unknown-linux-musl \
            --enable-static \
            --disable-shared \
            --without-udev \
            CFLAGS="-Os -static" \
            LDFLAGS="-static"

          make -j$(nproc)
          
          # Strip the binaries to minimize size
          strip src/mkfs.fat src/fsck.fat src/fatlabel

          # Prepare for upload
          mkdir -p ../dist
          cp src/mkfs.fat src/fsck.fat ../../static-bin/

    - name: Clone f2fs-tools
      run: |
          cd build
          git clone https://git.kernel.org/pub/scm/linux/kernel/git/jaegeuk/f2fs-tools.git
          cd f2fs-tools
          ./autogen.sh
           CC=musl-gcc ./configure \
            --disable-shared \
            --enable-static \
            CFLAGS="-Os -static -ffunction-sections -fdata-sections" \
            LDFLAGS="-static -Wl,--gc-sections -Wl,--as-needed"
          
          make -j$(nproc)

          strip fsck/fsck.f2fs
          cp fsck/fsck.f2fs ../../static-bin/

            
    ###########################################
    # CREATE ARTIFACT TAR
    ###########################################
    - name: Create tarball
      run: |
        cd static-bin
        tar -cvf ../static-musl-tools.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: static-musl-tools
        path: static-musl-tools.tar
