name: Static Utilities Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt update
        apt install -y \
          musl musl-tools musl-dev \
          build-essential pkg-config \
          autoconf automake libtool \
          gettext bison flex \
          libz-dev zlib1g-dev \
          liblzma-dev libgcrypt-dev libgpg-error-dev \
          libblkid-dev libudev-dev udev \
          git wget curl xz-utils zstd libzstd-dev liblzo2-dev \
          libncurses5-dev libncursesw5-dev sudo libext2fs-dev \
          systemd-dev autopoint libdevmapper-dev libpopt-dev \
          libsepol-dev libjson-c-dev liblvm2-dev bzip2 perl \
          linux-libc-dev \

    - name: Setup Musl Header Links
      run: |
          # Bridges the Musl and Linux Kernel header gap
          sudo ln -s /usr/include/x86_64-linux-gnu/asm /usr/include/x86_64-linux-musl/asm
          sudo ln -s /usr/include/linux /usr/include/x86_64-linux-musl/linux
          sudo ln -s /usr/include/asm-generic /usr/include/x86_64-linux-musl/asm-generic         
          
    - name: Prepare workspace
      run: mkdir -p build static-bin

    ###########################################
    # DIALOG
    ###########################################
    - name: Build ncurses static-only (minimal)
      run: |
          wget https://invisible-island.net/datafiles/release/ncurses.tar.gz
          tar xf ncurses.tar.gz
          cd ncurses-*
          CC=musl-gcc \
          ./configure \
            --host=x86_64-linux-musl \
            --with-termlib \
            --with-ticlib \
            --without-debug \
            --without-ada \
            --without-tests \
            --disable-shared \
            --enable-static \
            --enable-widec \
            --prefix=/usr/local/musl
          make -j$(nproc)
          sudo make install
    
    - name: Build dialog (static)
      run: |
        cd build 
        wget https://invisible-island.net/datafiles/release/dialog.tar.gz
          tar xf dialog.tar.gz
          cd dialog-*
          CC=musl-gcc \
          ./configure \
            --enable-static \
            --disable-shared \
            CFLAGS="-Os -fdata-sections -ffunction-sections -Wall -I/usr/local/musl/include/ncursesw" \
            LDFLAGS="-static -s -L/usr/local/musl/lib" \
            LIBS="-lncursesw -ltinfo"
          make -j$(nproc)
          strip ./dialog
          cp dialog ../../static-bin/

    ###########################################
    # BTRFS-PROGS
    ###########################################
    - name: Build btrfs-progs (static)
      run: |
        cd build

        wget https://www.oberhumer.com/opensource/lzo/download/lzo-2.10.tar.gz
        tar xf lzo-2.10.tar.gz
        cd lzo-2.10
        CC=musl-gcc \
        ./configure \
        --host=x86_64-linux-musl \
        --enable-static \
        --disable-shared \
        --prefix=/usr/local/musl \
        CFLAGS="-O2 -static" 
        LDFLAGS="-static"
        make -j$(nproc)
        make install        
        cd ..
        
        git clone https://github.com/kdave/btrfs-progs.git
        cd btrfs-progs
        ./autogen.sh
        CC=musl-gcc \
        ./configure \
          --host=x86_64-linux-musl \
          --disable-documentation \
          --disable-backtrace \
          --disable-libudev \
          --disable-systemd \
          --disable-python \
          --enable-static \
          --disable-shared
        CFLAGS="-static -Os -Wno-error=incompatible-pointer-types -Wall -I/usr/local/musl/include" \
        LDFLAGS="-static -L/usr/local/musl/lib"
        make -j$(nproc)
        cp btrfs ../../static-bin/
        strip ../../static-bin/btrfs || true

    ###########################################
    # CRYPTSETUP (LUKS1)
    ###########################################
    - name: Build cryptsetup (static)
      run: |
        cd build
        git clone https://gitlab.com/cryptsetup/cryptsetup.git
        cd cryptsetup
        ./autogen.sh
        CC=musl-gcc \
        ./configure --enable-static --disable-shared --with-crypto_backend=kernel \
        --build=x86_64-pc-linux-gnu \
        --host=x86_64-unknown-linux-musl \
        --disable-asciidoc --disable-ssh-token \
        CFLAGS="-static -Os -Wno-error=incompatible-pointer-types -Wall" \
        LDFLAGS="-static"
        
        make -j$(nproc)
        cp ./cryptsetup ../../static-bin/
        strip ../../static-bin/cryptsetup || true

    - name: Build minimal rsync
      run: |
        cd build
        git clone https://github.com/WayneD/rsync.git
        cd rsync        
        git checkout v3.3.0
        
        CC=musl-gcc ./configure \
            --build=x86_64-pc-linux-gnu \
            --host=x86_64-unknown-linux-musl \
            --disable-shared \
            --enable-static \            
            --disable-ipv6 \
            --disable-openssl \
            --disable-xxhash \
            --disable-zstd \
            --disable-lz4 \
            --disable-simd \
            --disable-md2man \
            --disable-iconv-open \
            --disable-acl-support \
            --disable-xattr-support \
            --with-included-zlib \
            --with-included-popt \
            --
          CFLAGS="-static -Os -Wno-error=incompatible-pointer-types" \
          LDFLAGS="-static"
        make
        strip ./rsync
        cp ./rsync ../../static-bin/

    ###########################################
    # EXT2/EXT4 PROGS (e2fsprogs)
    ###########################################
    - name: Build e2fsprogs (resize2fs, find, etc.)
      run: |
        cd build
        git clone https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs
        cd e2fsprogs
        CC=musl-gcc ./configure --enable-static --disable-shared LDFLAGS="-static" CFLAGS="-static -Os -Wno-error=incompatible-pointer-types -Wall"
        make -j$(nproc)
        cp resize/resize2fs ../../static-bin/
        cp misc/findsuper ../../static-bin/find || true
        strip ../../static-bin/* || true

    ###########################################
    # GREP
    ###########################################
    - name: Build grep (static)
      run: |
        cd build
        wget https://ftp.gnu.org/gnu/grep/grep-3.11.tar.xz
        tar xf grep-*.tar.xz
        cd grep-*
        CC=musl-gcc ./configure --enable-static --disable-shared \
        LDFLAGS="-static" \
        CFLAGS="-static -Os -Wno-error=incompatible-pointer-types -Wall"
        make -j$(nproc)
        strip src/grep
        cp src/grep ../../static-bin/
        

    ###########################################
    # NANO
    ###########################################
    - name: Build nano (static)
      run: |
        cd build
        wget https://www.nano-editor.org/dist/v7/nano-7.2.tar.xz
        tar xf nano-*.tar.xz
        cd nano-*
        CC=musl-gcc \
        CFLAGS="-Os -static -Wall" \
        LDFLAGS="-static" \
        ./configure \
          --host=x86_64-linux-musl \
          --disable-nls \
          --disable-color \
          --disable-extra \
          --disable-help \
          --disable-justify \
          --disable-libmagic \
          --disable-mouse \
          --disable-speller \
          --disable-wrapping \
          --enable-tiny \
          --without-slang \
          --without-ncursesw
        
        make -j$(nproc)
        strip cp src/nano
        cp src/nano ../../static-bin/

    ###########################################
    # VERCMP (Woof-CE)
    ###########################################
    - name: Build vercmp (static)
      run: |
        cd build
        wget https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/refs/heads/master/pkg/w_apps_static/w_apps/vercmp.c
        musl-gcc -static -Os -Wall vercmp.c -o vercmp
        strip vercmp
        cp vercmp ../static-bin/

    - name: Build dosfstools
      run: |
          cd build
          
          # Fetch latest version (4.2 is the current stable)
          VERSION="4.2"
          wget https://github.com/dosfstools/dosfstools/releases/download/v${VERSION}/dosfstools-${VERSION}.tar.gz
          tar -xf dosfstools-${VERSION}.tar.gz
          cd dosfstools-${VERSION}

          # Configure for static Musl build
          # --without-udev: Removes dependency on libudev
          # --enable-compat-symlinks: Creates the classic 'mkdosfs' etc symlinks
          ./configure \
            CC=musl-gcc \
            --host=x86_64-unknown-linux-musl \
            --enable-static \
            --disable-shared \
            --without-udev \
            CFLAGS="-Os -static -Wall" \
            LDFLAGS="-static"

          make -j$(nproc)
          
          # Strip the binaries to minimize size
          strip src/mkfs.fat src/fsck.fat src/fatlabel

          # Prepare for upload
          mkdir -p ../dist
          cp src/mkfs.fat src/fsck.fat src/fatlabel ../../static-bin/       
            
    ###########################################
    # CREATE ARTIFACT TAR
    ###########################################
    - name: Create tarball
      run: |
        cd static-bin
        tar -cvf ../static-musl-tools.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: static-musl-tools
        path: static-musl-tools.tar
