name: Static Utilities Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt update
        apt install -y \
          musl musl-tools musl-dev libgcc-s1 libgcc-15-dev \
          build-essential pkg-config \
          autoconf automake libtool \
          gettext bison flex \
          libz-dev zlib1g-dev \
          liblzma-dev libgcrypt-dev libgpg-error-dev \
          libblkid-dev libudev-dev udev \
          git wget curl xz-utils zstd libzstd-dev liblzo2-dev \
          libncurses5-dev libncursesw5-dev sudo libext2fs-dev \
          systemd-dev autopoint libdevmapper-dev libpopt-dev \
          libsepol-dev libjson-c-dev liblvm2-dev bzip2 perl \
          linux-libc-dev libncurses-dev \
          uuid-dev libselinux-dev libgcrypt20-dev libaio-dev

    - name: Setup Musl Header Links
      run: |
          # Bridges the Musl and Linux Kernel header gap
          sudo ln -s /usr/include/x86_64-linux-gnu/asm /usr/include/x86_64-linux-musl/asm
          sudo ln -s /usr/include/linux /usr/include/x86_64-linux-musl/linux
          sudo ln -s /usr/include/asm-generic /usr/include/x86_64-linux-musl/asm-generic         
          
    - name: Prepare workspace
      run: mkdir -p build static-bin

    ###########################################
    # DIALOG
    ###########################################
    - name: Build ncurses static-only (minimal)
      run: |
          wget https://invisible-island.net/datafiles/release/ncurses.tar.gz
          tar xf ncurses.tar.gz
          cd ncurses-*
          ./configure \
            --without-debug \
            --without-manpages \
            --without-tests \
            --disable-widec \
            --enable-static \
            --without-cxx-binding \
            --disable-shared
          make -j$(nproc)
          sudo make install
    
    - name: Build dialog (static)
      run: |
        cd build 
        wget https://invisible-island.net/datafiles/release/dialog.tar.gz
          tar xf dialog.tar.gz
          cd dialog-*
          ./configure \
            --enable-static \
            --disable-shared \
            CFLAGS="-Os -fdata-sections -ffunction-sections -fno-unwind-tables" \
            LDFLAGS="-static -s -Wl,--gc-sections -Wl,--as-needed" \
            LIBS="-lncurses"
          make -j$(nproc)
          strip ./dialog
          cp dialog ../../static-bin/

    ###########################################
    # BTRFS-PROGS
    ###########################################
    - name: Build btrfs-progs (static)
      run: |
        cd build
        git clone https://github.com/kdave/btrfs-progs.git
        cd btrfs-progs
        ./autogen.sh
        ./configure --disable-shared --disable-documentation --disable-libudev
        CFLAGS="-Os -ffunction-sections -fdata-sections -fno-unwind-tables" \
        LDFLAGS="-static -s -Wl,--gc-sections -Wl,--as-needed"        
        make -j$(nproc)
        cp btrfs ../../static-bin/
        strip ../../static-bin/btrfs || true

    ###########################################
    # CRYPTSETUP (LUKS1)
    ###########################################
    - name: Build cryptsetup (static)
      run: |
        cd build

        # --- Configuration ---
        MUSL_PREFIX=/usr/local/musl
        DEPS_DIR=$MUSL_PREFIX
        CRYPTSETUP_VER=1.7.5
        LIBGPG_ERROR_VER=1.48
        LIBGCRYPT_VER=1.10.0
        LVM2_REPO=https://sourceware.org/git/lvm2.git
        
        mkdir -p build && cd build
        
        # --- Install musl toolchain ---        
        export CC=musl-gcc
        export CFLAGS="-Os -static -ffunction-sections -fdata-sections"
        export LDFLAGS="-static -Wl,-s -Wl,--gc-sections"
        export PKG_CONFIG_PATH="$DEPS_DIR/lib/pkgconfig"
        
        # --- Build libgpg-error ---
        wget https://gnupg.org/ftp/gcrypt/libgpg-error/libgpg-error-$LIBGPG_ERROR_VER.tar.bz2
        tar xf libgpg-error-$LIBGPG_ERROR_VER.tar.bz2
        cd libgpg-error-$LIBGPG_ERROR_VER
        CC=musl-gcc ./configure --enable-static --disable-shared --prefix=$DEPS_DIR
        make -j$(nproc)
        make install
        cd ..
        
        # --- Build libgcrypt ---
        wget https://gnupg.org/ftp/gcrypt/libgcrypt/libgcrypt-$LIBGCRYPT_VER.tar.bz2
        tar xf libgcrypt-$LIBGCRYPT_VER.tar.bz2
        cd libgcrypt-$LIBGCRYPT_VER
        CC=musl-gcc PKG_CONFIG_PATH=$PKG_CONFIG_PATH ./configure \
            --enable-static --disable-shared --prefix=$DEPS_DIR
        make -j$(nproc)
        make install
        cd ..
        
        # --- Build libdevmapper (lvm2) ---
        git clone $LVM2_REPO lvm2
        cd lvm2
        CC=musl-gcc ./configure \
            --prefix=$DEPS_DIR \
            --disable-shared \
            --enable-static \
            --disable-udev_sync \
            --disable-dmeventd \
            --disable-lvmpolld
        make device-mapper -j$(nproc)
        make -C libdm install
        cd ..
        
        # --- Build cryptsetup ---
        wget https://www.kernel.org/pub/linux/utils/cryptsetup/v1.7/cryptsetup-$CRYPTSETUP_VER.tar.xz
        tar xf cryptsetup-$CRYPTSETUP_VER.tar.xz
        cd cryptsetup-$CRYPTSETUP_VER
        
        export CFLAGS="-Os -static -ffunction-sections -fdata-sections -I$DEPS_DIR/include"
        export LDFLAGS="-static \
        -L$DEPS_DIR/lib -ldevmapper -lrt \
        -lgcrypt -lgpg-error \
        -luuid -lblkid -lpthread -lm"
        
        ./configure --disable-nls \
            --disable-shared \
            --enable-static \
            --enable-static-cryptsetup \
            --disable-udev \
            --disable-selinux \
            --disable-veritysetup \
            --disable-python \
            ac_cv_lib_uuid_uuid_clear=yes \
            ac_cv_lib_uuid_uuid_generate=yes \
            ac_cv_lib_popt_poptConfigFileToString=yes \
            ac_cv_lib_popt_poptGetContext=yes \
            ac_cv_lib_devmapper_dm_task_set_uuid=yes
        
        make -j$(nproc)

        cp src/cryptsetup.static ../../static-bin/cryptsetup
        strip ../../static-bin/cryptsetup

    - name: Build minimal rsync
      run: |
        cd build
        git clone https://github.com/WayneD/rsync.git
        cd rsync        
        git checkout v3.3.0

        CC=musl-gcc \
        ./configure \
            --build=x86_64-pc-linux-gnu \
            --host=x86_64-pc-linux-musl \
            --disable-ipv6 \
            --disable-openssl \
            --disable-xxhash \
            --disable-zstd \
            --disable-lz4 \
            --disable-simd \
            --disable-md2man \
            --disable-iconv-open \
            --disable-acl-support \
            --disable-xattr-support \
            --with-included-zlib \
            --with-included-popt \
            --enable-static \
            --disable-shared \            
          CFLAGS="-static -Os -Wno-error=incompatible-pointer-types -ffunction-sections -fdata-sections -fno-unwind-tables" \
          LDFLAGS="-static -Wl,--gc-sections -Wl,--as-needed"
        make
        strip ./rsync
        cp ./rsync ../../static-bin/

    ###########################################
    # EXT2/EXT4 PROGS (e2fsprogs)
    ###########################################
    - name: Build e2fsprogs (resize2fs, find, etc.)
      run: |
        cd build
        git clone https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs
        cd e2fsprogs
        CC=musl-gcc \
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        strip resize/resize2fs e2fsck/e2fsck
        cp resize/resize2fs ../../static-bin/
        cp e2fsck/e2fsck ../../static-bin/

    ###########################################
    # GREP
    ###########################################
    - name: Build grep (static)
      run: |
        cd build
        wget https://ftp.gnu.org/gnu/grep/grep-3.11.tar.xz
        tar xf grep-*.tar.xz
        cd grep-*
        CC=musl-gcc \
        ./configure LDFLAGS="-static" --enable-static --disable-shared
        make -j$(nproc)
        cp src/grep ../../static-bin/
        strip ../../static-bin/grep

    ###########################################
    # NANO
    ###########################################
    - name: Build nano (static)
      run: |
        cd build
        wget https://www.nano-editor.org/dist/v7/nano-7.2.tar.xz
        tar xf nano-*.tar.xz
        cd nano-*
        ./configure --enable-static --disable-shared --enable-tiny \
        CFLAGS="-Os -static -ffunction-sections -fdata-sections" \
        LDFLAGS="-static -Wl,--gc-sections -Wl,--as-needed"
        
        sed -i 's|.*HAVE_USE_DEFAULT_COLORS.*|#define HAVE_USE_DEFAULT_COLORS 1|' config.h
        sed -i 's|.*GNU_WORDBOUNDS.*|#define GNU_WORDBOUNDS 1|' config.h
        
        make -j$(nproc)
        cp src/nano ../../static-bin/
        strip ../../static-bin/nano

    ###########################################
    # VERCMP (Woof-CE)
    ###########################################
    - name: Build vercmp (static)
      run: |
        cd build
        wget https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/refs/heads/master/pkg/w_apps_static/w_apps/vercmp.c
        musl-gcc -static -Os vercmp.c -o vercmp
        strip vercmp
        cp vercmp ../static-bin/

    - name: Build dosfstools
      run: |
          cd build
          
          # Fetch latest version (4.2 is the current stable)
          VERSION="4.2"
          wget https://github.com/dosfstools/dosfstools/releases/download/v${VERSION}/dosfstools-${VERSION}.tar.gz
          tar -xf dosfstools-${VERSION}.tar.gz
          cd dosfstools-${VERSION}

          # Configure for static Musl build
          # --without-udev: Removes dependency on libudev
          # --enable-compat-symlinks: Creates the classic 'mkdosfs' etc symlinks
          ./configure \
            CC=musl-gcc \
            --host=x86_64-unknown-linux-musl \
            --enable-static \
            --disable-shared \
            --without-udev \
            CFLAGS="-Os -static" \
            LDFLAGS="-static"

          make -j$(nproc)
          
          # Strip the binaries to minimize size
          strip src/mkfs.fat src/fsck.fat src/fatlabel

          # Prepare for upload
          mkdir -p ../dist
          cp src/mkfs.fat src/fsck.fat ../../static-bin/

    - name: Clone f2fs-tools
      run: |
          cd build
          git clone https://git.kernel.org/pub/scm/linux/kernel/git/jaegeuk/f2fs-tools.git
          cd f2fs-tools
          ./autogen.sh
          ./configure \
            --disable-shared \
            --enable-static \
            CFLAGS="-Os -static -ffunction-sections -fdata-sections" \
            LDFLAGS="-static -Wl,--gc-sections -Wl,--as-needed"
          
          make -j$(nproc)          
          cp fsck/fsck.f2fs ../../static-bin/

            
    ###########################################
    # CREATE ARTIFACT TAR
    ###########################################
    - name: Create tarball
      run: |
        cd static-bin
        tar -cvf ../static-musl-tools.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: static-musl-tools
        path: static-musl-tools.tar
