name: Static Utilities Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt update
        apt install -y \
          musl musl-tools musl-dev \
          build-essential pkg-config \
          autoconf automake libtool \
          gettext bison flex \
          libz-dev zlib1g-dev \
          liblzma-dev libgcrypt-dev libgpg-error-dev \
          libblkid-dev libudev-dev udev \
          git wget curl xz-utils zstd libzstd-dev liblzo2-dev \
          libncurses5-dev libncursesw5-dev sudo libext2fs-dev \
          systemd-dev autopoint libdevmapper-dev libpopt-dev \
          libsepol-dev libjson-c-dev liblvm2-dev bzip2 perl \
          linux-libc-dev \
          
          
    - name: Prepare workspace
      run: mkdir -p build static-bin

    ###########################################
    # DIALOG
    ###########################################
    - name: Build ncurses static-only (minimal)
      run: |
          wget https://invisible-island.net/datafiles/release/ncurses.tar.gz
          tar xf ncurses.tar.gz
          cd ncurses-*
          ./configure \
            --without-debug \
            --without-manpages \
            --without-tests \
            --disable-widec \
            --enable-static \
            --without-cxx-binding \
            --disable-shared
          make -j$(nproc)
          sudo make install
    
    - name: Build dialog (static)
      run: |
        cd build 
        wget https://invisible-island.net/datafiles/release/dialog.tar.gz
          tar xf dialog.tar.gz
          cd dialog-*
          ./configure \
            --enable-static \
            --disable-shared \
            CFLAGS="-Os -fdata-sections -ffunction-sections" \
            LDFLAGS="-static -s" \
            LIBS="-lncurses"
          make -j$(nproc)
          strip ./dialog
          cp dialog ../../static-bin/

    ###########################################
    # BTRFS-PROGS
    ###########################################
    - name: Build btrfs-progs (static)
      run: |
        cd build
        git clone https://github.com/kdave/btrfs-progs.git
        cd btrfs-progs
        ./autogen.sh
        ./configure --disable-shared --disable-documentation LDFLAGS="-static" --disable-libudev
        make -j$(nproc)
        cp btrfs ../../static-bin/
        strip ../../static-bin/btrfs || true

    ###########################################
    # CRYPTSETUP (LUKS1)
    ###########################################
    - name: Build cryptsetup (static)
      run: |
        cd build
        git clone https://gitlab.com/cryptsetup/cryptsetup.git
        cd cryptsetup
        ./autogen.sh
        ./configure --enable-static --disable-shared LDFLAGS="-static" --with-crypto_backend=kernel \
        --disable-asciidoc --disable-ssh-token
        make -j$(nproc)
        cp ./cryptsetup ../../static-bin/
        strip ../../static-bin/cryptsetup || true

    - name: Build minimal rsync
      run: |
        cd build
        git clone https://github.com/WayneD/rsync.git
        cd rsync        
        git checkout v3.4.1
        
        ./configure \
            --build=x86_64-pc-linux-gnu \
            --host=x86_64-unknown-linux-musl \
            --disable-ipv6 \
            --disable-openssl \
            --disable-xxhash \
            --disable-zstd \
            --disable-lz4 \
            --disable-simd \
            --disable-md2man \
            --disable-iconv-open \
            --disable-acl-support \
            --disable-xattr-support \
            --with-included-zlib \
            --with-included-popt \         
          CFLAGS="-static -O2 -Wno-error=incompatible-pointer-types" \
          LDFLAGS="-static"
        make
        strip ./rsync
        cp ./rsync ../../static-bin/

    ###########################################
    # EXT2/EXT4 PROGS (e2fsprogs)
    ###########################################
    - name: Build e2fsprogs (resize2fs, find, etc.)
      run: |
        cd build
        git clone https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs
        cd e2fsprogs
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        cp resize/resize2fs ../../static-bin/
        cp misc/findsuper ../../static-bin/find || true
        strip ../../static-bin/* || true

    ###########################################
    # GREP
    ###########################################
    - name: Build grep (static)
      run: |
        cd build
        wget https://ftp.gnu.org/gnu/grep/grep-3.11.tar.xz
        tar xf grep-*.tar.xz
        cd grep-*
        ./configure LDFLAGS="-static" --enable-static --disable-shared
        make -j$(nproc)
        cp src/grep ../../static-bin/
        strip ../../static-bin/grep

    ###########################################
    # NANO
    ###########################################
    - name: Build nano (static)
      run: |
        cd build
        wget https://www.nano-editor.org/dist/v7/nano-7.2.tar.xz
        tar xf nano-*.tar.xz
        cd nano-*
        ./configure --enable-static --disable-shared LDFLAGS="-static"
        make -j$(nproc)
        cp src/nano ../../static-bin/
        strip ../../static-bin/nano

    ###########################################
    # VERCMP (Woof-CE)
    ###########################################
    - name: Build vercmp (static)
      run: |
        cd build
        wget https://raw.githubusercontent.com/puppylinux-woof-CE/initrd_progs/refs/heads/master/pkg/w_apps_static/w_apps/vercmp.c
        cc -static vercmp.c -o vercmp
        cp vercmp ../static-bin/

    - name: Build Static BusyBox
      run: |
          cd build
          VERSION="1.36.1"
          wget https://busybox.net/downloads/busybox-${VERSION}.tar.bz2
          tar -xf busybox-${VERSION}.tar.bz2
          cd busybox-${VERSION}

          # 1. Create default config
          # We set CROSS_COMPILE to musl-gcc to ensure the whole build uses musl headers
          make CROSS_COMPILE=musl-gcc defconfig

          # 2. Force static linking in the config file
          sed -i 's/# CONFIG_STATIC is not set/CONFIG_STATIC=y/' .config
          
          # 3. Compile
          # We explicitly pass the CC and Extra LDFLAGS to ensure no glibc leakage
          make -j$(nproc) \
            CC=musl-gcc \
            CPATH=/usr/include/x86_64-linux-gnu \
            LDFLAGS="-static" \
            CFLAGS="-static"

          # Copy and strip binaries
          cp ./busybox ../../static-bin/
            

    ###########################################
    # CREATE ARTIFACT TAR
    ###########################################
    - name: Create tarball
      run: |
        cd static-bin
        tar -cvf ../static-musl-tools.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: static-musl-tools
        path: static-musl-tools.tar
